.container-tabela
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
}

.myTable
{
    border-collapse: collapse;
    text-align: center;
}

th,td
{
    padding: 5px;
}

th
{
    background-color: #0A3530;
    color: white;
    border-left: 1px solid white;
}
td
{
    background-color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.493);
}

tr
{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}


@media screen and (max-width: 1230px)
{

    th
    {
        display: none;
        color: #0A3530;
        
    }  

    td
    {
        display: grid;
        gap: .5rem;
        grid-template-columns: 12ch auto;
        text-align: center;
    }

    td,td
    {
        width: 400px;
        margin: 0;
        padding: 0;
    }

    td::before
    {
        content: attr(data-th) ": ";
        font-weight: bold;
        background-color: #0A3530;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.493);
    }
}